<footer>

    <p id="print-banner">Acesta este un proiect scolar!</p>

<a href="#top" title="Mergi la începutul paginii" id="link-top" aria-label="Mergi la începutul paginii">
             <span class="icon-cerc" aria-hidden="true">&#5123;</span>
            <span class="text-link-top">Înapoi la început - TechForge</span>
        </a>

        <address>
            <p>Telefon: <a href="tel:+40312345678">+40 31 234 5678</a></p>
            <p>Adresă:<br>
                <a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica+Bucuresti" target="_blank"
                    rel="noopener">
                    Strada Academiei nr. 14,<br>
                    Sector 1, București,<br>
                    Cod poștal 010014, România
                </a>
            </p>
            <p>E-mail: <a href="mailto:contact@techforge.ro">contact@techforge.ro</a></p>
            <p>WhatsApp: <a href="https://wa.me/40312345678" target="_blank" rel="noopener">💬 Scrie-ne pe WhatsApp</a>
            </p>
        </address>

        <p><small>Copyright &copy; <time datetime="2025-10-15">15 octombrie 2025</time> TechForge - Pirvanescu
                Dimitrie-Alexandru</small></p>
</footer>