<header>
        <h1>TechForge</h1>
    <img src="/resurse/imagini/sigla.png" alt="sigla" />
        <nav>
            <ul class="meniu">
                <li><a href="index.html">Acasă</a>
                    <ul>
                        <li><a href="#welcome">Bine ați venit</a></li>
                        <li><a href="#promotii">Promoții și oferte</a></li>
                        <li><a href="#produse">Produsele noastre</a></li>
                        <li><a href="#orar">Orar</a></li>
                        <li><a href="#anunturi">Anunțuri</a></li>
                        <li><a href="#evenimente">Evenimente</a></li>
                        <li><a href="#index-intrebari">Întrebări frecvente</a></li>
                        <li><a href="#galerie-statica">Galerie</a></li>
                        <li><a href="#help">Tutoriale și Ghiduri</a></li>
                    </ul>
                </li>
                <li><a href="produse.html">Catalog Produse</a></li>
                <li><a href="cos.html">Coș și Checkout</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>